

html, body{
  /*background: linear-gradient(#990000, #003366);*/
  font-family:"Frutiger LT W01 45 Light" !important; 
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(170, 170, 170), rgb(131, 131, 131), rgb(90, 90, 90));
}

/*START HERE NEXT TIME WIERD FORMATTING ISSUE WITH HOME PAGE*/

.welsDollarContainer{
  
}

.welsDollarPopout{
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 50px;
  margin: 0;
  cursor: pointer;
  transition-duration: 1s;
  z-index: 2;
}

.welsDollarPopout:hover{
  color: #003366;
}

.welsDollarWrapper{
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


body::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
} 

body::-webkit-scrollbar-thumb{
  background-color: black;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.WelsDollar-Title-Wrapper{
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: rgb(31, 31, 31);
  box-shadow: 2px 2px 10px black;
  z-index: 1;
}

.WelsDollar-Title{
  /*font-family: Arial, sans-serif;*/
  font-family:"Frutiger LT W01 45 Light" !important;
  color: white;
  font-size: 50px;
}

.WelsDollar-Church-Wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  height: 200px;
}

.WelsDollar-Church-Title{
  margin: 0;
}

.WelsDollar-Donation-Wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  height: 400px;
}

.WelsDollar-Donation-ScrollWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.WelsDollar-Video-Wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 400px;
}

.WelsDollar-Paypal-Wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.WelsDollar-Paypal-Title{
  text-align: center;
  animation: reverseAnimation 1s linear forwards;
  animation-delay: 1s;
  opacity: 0;
  cursor: default;
  z-index: 2;
  color: rgb(231, 231, 231);
  /*transition-duration: 4s;*/
}

.WelsDollar-Paypal-Title-Wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*
.WelsDollar-Paypal-Title-Wrapper:hover #test{
  color: #383838;
}*/

#test{
  transition-duration: .5s;
}

.WelsDollar-Title{
  color: white;
  font-size: 40px;
}

.WelsDollar-Church-Title{
  color: rgb(231, 231, 231);
  font-size: 20px;
  margin-bottom: 10px;
}

.WelsDollar-Church{
  color: rgb(231, 231, 231);
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.WelsDollar-Church-Divider{
  width: 100px;
  height: 2px;
  background-color: rgb(179, 179, 179);
  z-index: 2;
  margin-bottom: 10px;
}

.WelsDollar-Donation-Title{
  color: rgb(231, 231, 231);
  font-size: 30px;
  margin: 10px;
}

#donationDivider{
  margin-bottom: 20px;
}

.WelsDollar-VideoFrame{
  width: 580px; 
  height: 335px;
  /*box-shadow: 2px 2px 10px black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.WelsDollar-Video{
  width: 560px; 
  height: 315px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  margin-top: 10px;
}

.WelsDollar-CoverFee-Wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.WelsDollar-CoverFee-Label{
  color: white;
  margin-right: 10px;
  font-size: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.WelsDollar-CoverFee-Label:hover{
  color: #f1ff6f;
}

.WelsDollar-CoverFee-Checkbox{
  transform: scale(1.5);
}

.TextShow{
  opacity: 0;
  animation: showAnimation 1s linear forwards;
}

.WelsDollar-SubscribeMessage-Wrapper{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.WelsDollar-SubscribeMessage{
  text-align: center;
}

.WelsDollar-SubscribeForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.WelsDollar-SubscribeInput{
  width: auto;
  height: 100%;
  box-shadow: 2px 2px 10px black;
  margin-right: 10px;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
}

.WelsDollar-SubscribeButton{
  width: auto;
  height: 100%;
  background: rgb(43, 43, 43);
  border: none;
  box-shadow: 2px 2px 10px black;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  transition-duration: .5s;
}

.WelsDollar-SubscribeButton:hover{
  background: rgb(170, 170, 170);
  color: rgb(0, 0, 0);
}

@media(max-width: 850px){
  .WelsDollar-Paypal-Wrapper-Given{
    height: 300px;
  }
}

@media(max-width: 670px){
  #hiddenPaypalText{
    font-size: 17px;
  }
}

@media(max-width: 650px){
  .WelsDollar-VideoFrame{
    width: 460px; 
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .WelsDollar-Video{
    width: 460px; 
    height: 215px;
  }

  .welsDollarPopout{
    top: 25px;
  }
}

@media(max-width: 490px){
  .WelsDollar-VideoFrame{
    width: 90%;  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .WelsDollar-Video{
    width: auto; 
    height: 100%;
  }

  .WelsDollar-Paypal-Title{
    font-size: 20px;
  }

  .WelsDollar-Title-Wrapper{
    align-items: flex-start;
  }

  .WelsDollar-Title{
    margin-left: 10px;
    font-size: 40px;
  }
}

@media(max-width: 450px){
  #hiddenPaypalText{
    font-size: 15px;
  }
}

@media(max-width: 425px){
  .WelsDollar-SubscribeForm{
    flex-direction: column;
    height: auto;
  }

  .WelsDollar-SubscribeInput{
    margin-right: 0px;
    height: 40px;
  }
  
  .WelsDollar-SubscribeButton{
    margin-top: 20px;
    height: 40px;
  }
}

@media(max-width: 375px){
  .WelsDollar-Paypal-Wrapper-Given{
    height: 400px;
  }

  .welsDollarPopout{
    right: 20px;
  }
}

@media(max-width: 340px){
  .WelsDollar-Paypal-Wrapper-Given{
    height: 400px;
  }
}

@media(max-width: 300px){
  .WelsDollar-Title{
    font-size: 30px;
  }
  
  .WelsDollar-Church-Title{
    font-size: 20px;
  }
  
  .WelsDollar-Church{
    font-size: 15px;
  }
  
  .WelsDollar-Donation-Title{
    font-size: 20px;
  }

  .WelsDollar-Paypal-Wrapper-Given{
    height: 450px;
  }
}

/*Reverse Animation*/

@-webkit-keyframes showAnimation {

  0%  { 
    opacity: 0; }
  20% {
    opacity: .2;}
  40% {
    opacity: .4;}
  60% {
    opacity: .6;}
  80% {
    opacity: .8;}
  100% {
    opacity: 1;}
  }

@-moz-keyframes showAnimation {
  0%  { 
    opacity: 0; }
  20% {
    opacity: .2;}
  40% {
    opacity: .4;}
  60% {
    opacity: .6;}
  80% {
    opacity: .8;}
  100% {
    opacity: 1;}
  }

@-ms-keyframes showAnimation {
  0%  { 
    opacity: 0; }
  20% {
    opacity: .2;}
  40% {
    opacity: .4;}
  60% {
    opacity: .6;}
  80% {
    opacity: .8;}
  100% {
    opacity: 1;}
  }

@-o-keyframes showAnimation {
  0%  { 
    opacity: 0; }
  20% {
    opacity: .2;}
  40% {
    opacity: .4;}
  60% {
    opacity: .6;}
  80% {
    opacity: .8;}
  100% {
    opacity: 1;}
  }

@keyframes showAnimation {
  0%  { 
    opacity: 0; }
  20% {
    opacity: .2;}
  40% {
    opacity: .4;}
  60% {
    opacity: .6;}
  80% {
    opacity: .8;}
  100% {
    opacity: 1;}
  }

